// 
// user-variables.scss
// Use this to overwrite Bootstrap and Landkit variables
//

// Example of a variable override to change Landkit's background color
// Remove the "//" to comment it in and see it in action!
// $font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;

// palette graphique kitts
// $bleu marine : #293462
// $vert : #0AC5A8 
// $orange : #F76262
// $jaune : #FFF1C1

$text-gray-700 : #869AB8;
$text-secondary : #869AB8;
$text-secondary : #869AB8;
$text-muted : #869AB8;
$primary:#0AC5A8 ;
$secondary: #293462 ; //rgba(41, 52, 98)
$black: #293462 ;


