<div class="container py-6 py-md-8 bg-white rounded border-gray-300">
  <div class="row align-items-center">
    <div class="col-12 col-md">

      <!-- Heading -->
      <h3 class="mb-1 ml-5 font-weight-bold">
        Vous souhaitez plus d'informations
      </h3>

      <!-- Text -->
      <p class="font-size-lg text-muted mb-6 ml-5 mb-md-0">
        Nous pouvons vous tenir informés
      </p>

    </div>
    <div class="col-12 col-md-5">

      <!-- Form -->
      <form  action="https://formsubmit.co/2df29370ae35fa1fc0d5a71403d9638c" method="POST" />
        <div class="row">
          <div class="col">

            <!-- Input -->
            <input type="email" name="email" class="form-control" placeholder="Votre email">
            <input type="hidden" name="_webhook" value="https://script.google.com/macros/s/AKfycbyAiwAYn1W-A-bKBdfgjLURhbpgGolL1eBlIDgX_3RuyFq_r9PW/exec">
            <input type="hidden" name="_next" value="@@webRoot/thanks.html">
            <input type="hidden" name="_subject" value="New submission!">
            <input type="hidden" name="_captcha" value="false">

          </div>
          <div class="col-auto ml-n5">

            <!-- Button -->
            <button class="btn btn-secondary" type="submit">
              Souscrire
            </button>

          </div>
        </div> <!-- / .row -->
      </form>

    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->