
    <!-- CONTENT
    ================================================== -->
    <section class="py-8 py-md-11 mt-n10 mt-md-n14">
      <div class="container">
        <div class="row" id="portfolio" data-isotope='{"layoutMode": "fitRows"}'>

          <div class="col-12 col-lg-4 p-5 features">
            <!-- Card -->
            <div class="card rounded shadow-light-lg">
              <!-- Body -->
              <a class="card-body my-auto" href="#!">
                <div class="icon icon-xl text-primary">
                  @@include("../assets/img/icons/duotone-icons/Communication/Chat#5.svg")
                </div>
                <!-- Heading -->
                <h3 class="mt-auto">
                  All Text Card.
                </h3>
                <!-- Text -->
                <p class="mb-0 text-muted">
                  Notice how this card stays the same height as its siblings and this text is vertically centered (at desktop sizes). This keeps layouts looking consistent no matter what type of content occupies each sibling card.
                </p>
              </a>
            </div>
          </div>

          <div class="col-12 col-lg-4 p-5 services">
            <!-- Card -->
            <div class="card rounded shadow-light-lg">
              <!-- Body -->
              <a class="card-body my-auto" href="#!">
                <div class="icon icon-xl text-primary">
                  @@include("../assets/img/icons/duotone-icons/Communication/Chat#5.svg")
                </div>
                <!-- Heading -->
                <h3 class="mt-auto">
                  All Text Card.
                </h3>
                <!-- Text -->
                <p class="mb-0 text-muted">
                  Notice how this card stays the same height as its siblings and this text is vertically centered (at desktop sizes). This keeps layouts looking consistent no matter what type of content occupies each sibling card.
                </p>
              </a>
            </div>
          </div>
          
          <div class="col-12 col-lg-4 p-5 cases">
            <!-- Card -->
            <div class="card rounded shadow-light-lg">
              <!-- Body -->
              <a class="card-body my-auto" href="#!">
                <div class="icon icon-xl text-primary">
                  @@include("../assets/img/icons/duotone-icons/Communication/Chat#5.svg")
                </div>
                <!-- Heading -->
                <h3 class="mt-auto">
                  All Text Card.
                </h3>
                <!-- Text -->
                <p class="mb-0 text-muted">
                  Notice how this card stays the same height as its siblings and this text is vertically centered (at desktop sizes). This keeps layouts looking consistent no matter what type of content occupies each sibling card.
                </p>
              </a>
            </div>
          </div>

          <div class="col-12 col-lg-4 p-5 features">
            <!-- Card -->
            <div class="card rounded shadow-light-lg">
              <!-- Body -->
              <a class="card-body my-auto" href="#!">
                <div class="icon icon-xl text-primary">
                  @@include("../assets/img/icons/duotone-icons/Communication/Chat#5.svg")
                </div>
                <!-- Heading -->
                <h3 class="mt-auto">
                  All Text Card.
                </h3>
                <!-- Text -->
                <p class="mb-0 text-muted">
                  Notice how this card stays the same height as its siblings and this text is vertically centered (at desktop sizes). This keeps layouts looking consistent no matter what type of content occupies each sibling card.
                </p>
              </a>
            </div>
          </div>

          <div class="col-12 col-lg-4 p-5 services">
            <!-- Card -->
            <div class="card rounded shadow-light-lg">
              <!-- Body -->
              <a class="card-body my-auto" href="#!">
                <div class="icon icon-xl text-primary">
                  @@include("../assets/img/icons/duotone-icons/Communication/Chat#5.svg")
                </div>
                <!-- Heading -->
                <h3 class="mt-auto">
                  All Text Card.
                </h3>
                <!-- Text -->
                <p class="mb-0 text-muted">
                  Notice how this card stays the same height as its siblings and this text is vertically centered (at desktop sizes). This keeps layouts looking consistent no matter what type of content occupies each sibling card.
                </p>
              </a>
            </div>
          </div>

          <div class="col-12 col-lg-4 p-5 cases">
            <!-- Card -->
            <div class="card rounded shadow-light-lg">
              <!-- Body -->
              <a class="card-body my-auto" href="#!">
                <div class="icon icon-xl text-primary">
                  @@include("../assets/img/icons/duotone-icons/Communication/Chat#5.svg")
                </div>
                <!-- Heading -->
                <h3 class="mt-auto">
                  All Text Card.
                </h3>
                <!-- Text -->
                <p class="mb-0 text-muted">
                  Notice how this card stays the same height as its siblings and this text is vertically centered (at desktop sizes). This keeps layouts looking consistent no matter what type of content occupies each sibling card.
                </p>
              </a>
            </div>
          </div>

          <div class="col-12 col-lg-4 p-5 features">
            <!-- Card -->
            <div class="card rounded shadow-light-lg">
              <!-- Body -->
              <a class="card-body my-auto" href="#!">
                <div class="icon icon-xl text-primary">
                  @@include("../assets/img/icons/duotone-icons/Communication/Chat#5.svg")
                </div>
                <!-- Heading -->
                <h3 class="mt-auto">
                  All Text Card.
                </h3>
                <!-- Text -->
                <p class="mb-0 text-muted">
                  Notice how this card stays the same height as its siblings and this text is vertically centered (at desktop sizes). This keeps layouts looking consistent no matter what type of content occupies each sibling card.
                </p>
              </a>
            </div>
          </div>

          <div class="col-12 col-lg-4 p-5 services">
            <!-- Card -->
            <div class="card rounded shadow-light-lg">
              <!-- Body -->
              <a class="card-body my-auto" href="#!">
                <div class="icon icon-xl text-primary">
                  @@include("../assets/img/icons/duotone-icons/Communication/Chat#5.svg")
                </div>
                <!-- Heading -->
                <h3 class="mt-auto">
                  All Text Card.
                </h3>
                <!-- Text -->
                <p class="mb-0 text-muted">
                  Notice how this card stays the same height as its siblings and this text is vertically centered (at desktop sizes). This keeps layouts looking consistent no matter what type of content occupies each sibling card.
                </p>
              </a>
            </div>
          </div>

          <div class="col-12 col-lg-4 p-5 cases">
            <!-- Card -->
            <div class="card rounded shadow-light-lg">
              <!-- Body -->
              <a class="card-body my-auto" href="#!">
                <div class="icon icon-xl text-primary">
                  @@include("../assets/img/icons/duotone-icons/Communication/Chat#5.svg")
                </div>
                <!-- Heading -->
                <h3 class="mt-auto">
                  All Text Card.
                </h3>
                <!-- Text -->
                <p class="mb-0 text-muted">
                  Notice how this card stays the same height as its siblings and this text is vertically centered (at desktop sizes). This keeps layouts looking consistent no matter what type of content occupies each sibling card.
                </p>
              </a>
            </div>
          </div>

          <div class="col-12 col-lg-4 p-5 cases">
            <!-- Card -->
            <div class="card rounded shadow-light-lg">
              <!-- Body -->
              <a class="card-body my-auto" href="#!">
                <div class="icon icon-xl text-primary">
                  @@include("../assets/img/icons/duotone-icons/Communication/Chat#5.svg")
                </div>
                <!-- Heading -->
                <h3 class="mt-auto">
                  All Text Card.
                </h3>
                <!-- Text -->
                <p class="mb-0 text-muted">
                  Notice how this card stays the same height as its siblings and this text is vertically centered (at desktop sizes). This keeps layouts looking consistent no matter what type of content occupies each sibling card.
                </p>
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>